/* for large screen like tv*/
@media only screen and (min-width: 1920px) {
  .whatsapp-button .ask {
    background-color: #0a640de7;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 19px;
}
  .footer-distributed .footer-content .left-footer .footer-social-icons a {
    width: 45px;
    height: 45px;}
  .special-section .special-section-content{
    width: 70%;
  }
  .button{
    font-size: 20px;
  }
  .navbar-three .navbar-last-booking-button {
    margin: 0 55px;
    width: 300px;
    font-size: 22px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 50px;
    background-color: var(--main-color-dark);
    padding: 12px 60px;
    cursor: pointer;
}
  .dropdown-item{
    font-size: 20px;
  }
  .navbar {
    font-size: 20px;
    padding-left: -10px;
  }

  .about-us-details p {
    font-weight: 300;
    font-size: 30px;
    text-align: justify;
    text-indent: 123px;
    line-height: 40px;
  }
  .about-us-heading {
    padding: 10px;
    line-height: 15px;
    width: 39%;
    font-weight: 400;
    font-size: 49px;
    color: var(--main-color);
    text-align: center;
    
  }
  .over-flow-slider.scrolled {
    bottom: 19.5%;
    transition: 0.5s;
  }
  .over-flow-slider {
    bottom: 14.5%;
    /* transition: all .5s top; */
  }

  .about-us-second .gif-about-one {
    position: absolute;
    width: 35%;
    right: 27px;
    /* bottom: 0px; */
    top: -768px;
    /* z-index: 1000; */
  }
  .about-us-second .gif-about-two {
    top: -734px;
  }
  .scroll-bar-garden .heading-garden h2 {
    font-size: 46px;
    padding-top: 20px;
    letter-spacing: 2px;
  }
  .scroll-bar-garden .paragraph-garden p {
    padding: 17px;
    font-size: 27px;
    font-weight: 300;
    text-align: center;
    line-height: 31px;
  }

  .left-content .backgroundimage {
    scale: 2.2;
  }
  .gallery {
    height: 1100px;
  }
  .footer-distributed {
    background: var(--main-color-dark);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 45px 50px 125px 50px;
  }

  .main-card-garden {

    margin: -203px 0 0 0px;
height: 470px;
    
}
.main-card-content-list-seven{
     width: 88.5%; 
}
.main-card-garden .main-single-card {
  background-color: #f2fff3;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  height: 380px;
}
.main-single-card:first-child {
  margin-left: 65px;
  width: 315px;
}
.main-single-card .description-card h3 {
  font-family: "MonotypeCorsiva";
  margin: 0;
  font-weight: 500;
  font-size: 38px;
  color: var(--main-color-dark);
}
.main-single-card .description-card p {
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  padding: 0px 5px;
  /* color: var(--main-color-dark); */
}
.right-over-footer .footer-address i {
  font-size: 32px;
}
.right-over-footer .footer-address p {
  font-weight: 400;
  font-size: 20px;
  color: var(--main-color-dark);
  line-height: 22px;
  margin-top: 14px;
}
.right-over-footer .footer-address p {
  font-weight: 400;
  font-size: 20px;
  color: var(--main-color-dark);
  line-height: 23px;
  margin-top: 14px;
}

.over-content-footer .left-over-footer img {
  width: 22%;
  /* margin-left: 0; */
  /* text-align: center; */
}
.over-content-footer .left-over-footer p {
  color: white;
  font-size: 32px;
  text-align: center;
  line-height: 26px;
  padding: 21px 55px 0 0;
}
.over-content-footer .left-over-footer p span{
  font-size: 26px;
}

.footer-distributed .footer-content .left-footer h2 {
font-size: 42px;
  
}
.footer-distributed .footer-content .left-footer p {
  font-size: 22px;
    
  }
  .footer-distributed .footer-content .middle-footer li {
    font-size: 21px;
   margin: 1px 0 14px 0;
}
.footer-content .right-footer img {
  width: 61%;
}
.prabhu {

  margin-top: -7px;
  color: var(--main-color-light);
  padding: 10px 0 0 0;
  font-weight: 300;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
}


.footer-distributed .footer-content .right-footer {
  width: 29%;
  text-align: right;
}

.footer-distributed .footer-content .left-footer {
  width: 35%;
  margin-right: 200px;
}

}

















/* for small screen like mobile */
@media only screen and (max-width: 600px) {


  .footer .over-content-footer {
    
    display: none;
 
}






  .navbar-three .navbar-last-booking-button .left-image {
    left: 2px;
}
.navbar-three .navbar-last-booking-button img {
  position: absolute;
  width: 14px;
}
.navbar-three .navbar-last-booking-button .right-image {
  right: 7px;
}
  .navbar-last-booking-button {

    width: 101px !important;
    font-size: 8px !important;
    position: fixed !important;
    display: flex;
    right: 10px;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 21px !important;
    background-color: var(--main-color-dark);
    padding: 6px 17px !important;
    cursor: pointer;
}
 
  .navbar-two {

    display: flex;
    justify-content: space-between;
  
    width: 100% !important;
   
  }
  .navbar-two .name img {
    width: 95%;
  
}

.navbar-two .fivetlogo {
  display: none;
  
}
.navbar-two .odisha-govt-logo {
  display: none;

}
.navbar-two .logo {
  display: flex;
  align-items: center;
  width: 30%;
  padding-left: 10px;
 
}
.navbar-two .name {
  display: flex;
  align-items: center;
  width: 68%;
  
}
.navbar-one {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;
  height: 12px;
  font-size: 8px;
  background-color: var(--main-color);
}
.navbar-one .navbar-upper p {
  margin-top: 15px;
  margin-left: 5px;
  font-size: 8px;
}
.splide__arrow{
  height: 1em;
  width: 1em;
}
.splide__arrow svg {
  
  height: 10px;
  width: 10px;
}
.about-us {
  position: relative;
  padding: 0px;
  width: 100%;
  margin: auto;
 
  display: block;
  justify-content: space-evenly;
}
.about-us .about-us-main {
  width: 95%;
  padding: 8px 0px 10px 20px;

}
.about-us-details p {
  font-weight: 300;
  font-size: 12px;
  text-align: justify;
  text-indent: 60px;
  line-height: 17px;
}
.about-us-heading {
  padding: 10px;
  line-height: 0px;
  width: 100%;
  /* font-weight: bold; */
  font-size: 22px;
  color: var(--main-color);
  text-align: center;
}
.about-us-details a {
  text-decoration: none;
  width: fit-content;
  padding: 2px 11px;
  color: #ffffff;
  background-color: var(--main-color);
  border-radius: 50px;
  margin: 0;
  font-size: 12px;
}
.about-us-second{
  display: none;
}
.scroll-bar-garden .heading-garden h2 {
  font-size: 20px;
  padding-top: 7px;
  letter-spacing: 2px;
}
.scroll-bar-garden .paragraph-garden p {
  padding: 5px;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  line-height: 21px;
}
.scroll-bar-garden .paragraph-garden {
    color: white;
    width: 95%;
}



.main-card-garden .main-single-card {

  height: 402px;
}
.main-single-card:first-child {
  margin-left: 12%;
}
.over-flow-slider{
  display: none !important;
}
.main-card-content-list-seven .splide__arrow--prev {
  left: 0em;
}

.main-card-content-list-seven .splide__arrow--next {
  right: 0em;
}

/* special section  */
.special-section {
  width: 100%;
  height: fit-content;
  padding: 15px 10px;
  background-color: var(--main-color-light);
  margin-top: 20px;
}
.special-section .special-section-content {
  width: 100%;
  margin: auto;
  /* border: 1px solid red; */
  height: 100%;
  display: block;
  /* justify-content: space-between; */
}
.left-content {
  position: relative;
  z-index: 999;
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* padding-right: 10px; */
  /* filter: blur(50px); */
  overflow: hidden;
  border-radius: 10px;
  color: white;
}
.content {
  padding: 6px;
  width: 100%;
  height: 100%;
  /* border: 1px solid green; */
  flex-direction: column;
}
.content .part-one {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  backdrop-filter: blur(1px);
  background-color: #ffffffb3;
  border-radius: 10px;
  padding: 8px;
  /* background-image: url(../asset/background/anime-nature.gif); */
}
.content .part-one h2 {
  border-bottom: 2px solid var(--main-color-dark);
  color: var(--main-color-dark);
  font-size: 20px;
}
.content .part-one p {
  color: rgb(24, 24, 24);
  font-size: 13px;
  text-align: justify;
}
.content .image-one {
  /* border: 1px solid red; */
  height: 115px;
}
.left-content .backgroundimage {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  padding: 2px;
  scale: 3.2;
  /* background-image: url(../asset/background/background\ 1.jpg); */
}
.content .part-two {
  width: 100%;
  padding: 12px 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* text-align: center; */
  /* border: 1px solid blue; */
}
.content .part-two .video-two {
  width: 50%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid var(--main-color-dark);
}
.content .part-two .button-two {
  border: 0;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: var(--main-color-light);
  border: 1px solid var(--main-color-light);
  color: var(--main-color-dark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition: 0.5s;
  font-size: larger;
  font-weight: bold;
}
.special-section-content .right-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: right; */
  padding: 0px;
  /* border: 1px solid blue; */
}
.button {
  background-color: var(--main-color);
  cursor: pointer;
  width: 24%;
  margin-top: 10px;
  padding: 0px;
  border-radius: 5px;
  color: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  padding: 2px 5px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* galelery page  */

.gallery .gallery-heading {
  width: 50%;
  /* border: 1px solid red; */
  background-color: #ffe5bac0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0 10px 3px 10px;
  margin: auto;
  text-align: center;
}
.gallery .gallery-heading h1 {
  color: var(--main-color);
  margin: 0 0 -10px 0;
  padding: 0%;
  font-size: 25px;
}
.gallery-main {
  width: 95%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
  margin: auto;
  height: 45%;
}

.gallery .backgroundvideo {
  position: absolute;
  z-index: -1;
  width: 180%;
  rotate: 90deg;
  left: -40%;
  top: -40%;
  filter: blur(3px);
  /* opacity: 0; */
}
.gallery-main .colom-one {
  width: 33%;
  /* height: max-content; */
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  padding-top: 8%;
}
.gallery-main .colom-two {
  /* border: 1px solid red; */
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 35px;
  margin-top: 20px;
}
.gallery {
  /* background-color: #4caf4f4f; */
  /* background-image: url(../asset/background/bacgrond2.jpg); */
  width: 100%;
  height: fit-content;
  overflow: hidden;
  /* margin-top: 20px; */
  text-align: center;
  position: relative;
  padding-bottom: 15%;
}



/* footer section  */



.footer-distributed {
  width: 100%;
  padding: 2px 20px 30px 20px;
}

.footer-distributed .footer-content {
  /* border: 1px whitesmoke; */
  width: 100%;
  display: block;
  justify-content: space-between;
  /* align-items: center; */
  margin: 10px 0 25px 0;
}
.footer-distributed .footer-content .left-footer {
  width: 100%;
}
.footer-distributed .footer-content .left-footer h2 {
  color: var(--active-color);
  font-weight: 300;
  /* text-decoration: underline; */
  /* border-bottom: 1px solid var(--main-color); */
  font-size: 23px;
}
.footer-distributed .footer-content .left-footer p {
  color: var(--main-color-light);
  font-weight: 300;
  text-align: justify;
  /* letter-spacing: 1px; */
  font-size: 12px;
}
.footer-distributed .footer-content .left-footer .footer-social-icons {
  width: 45%;
  margin-top: 0;
  /* border: 1px solid red; */
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.footer-distributed .footer-content .left-footer .footer-social-icons a {
  background-color: var(--main-color);
  /* padding: 10px 15px; */
  text-decoration: none;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--main-color-light);
  font-size: 13px;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.5s;
}
.footer-distributed .footer-content .middle-footer {
  width: 100%;
  /* padding: 0 0 0 40px; */
  color: var(--main-color-light);
}
.footer-distributed .footer-content .middle-footer h3 {
  font-weight: 300;
  font-size: 20px;
  /* text-decoration: underline; */
  /* border-bottom: 1px solid rgb(231, 231, 231); */
  text-align: left;
  color: var(--main-color-light);
}
.footer-distributed .footer-content .middle-footer li {
  font-size: 12px;
  font-weight: 300;
  margin: 1px 0 5px 0;
  cursor: pointer;
  transition: all 0.3s;
  /* margin-right: 5px; */
}
.prabhu {
  /* border: 1px solid red; */
  position: relative;
  /* text-align: center; */
  margin-top: 10px;
  color: var(--main-color-light);
  padding: 4px 0 0 0;
  font-weight: 300;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.prabhu p {
  margin: 0;
  font-weight: 300;
  font-size: 8px;
}
.footer-distributed .footer-content .right-footer {
  display: none;
  width: 25%;
  text-align: center;
}
.about-us .about-background {
  position: absolute;
  z-index: -999;
  width: 180%;
  /* scale: 2; */
}
.about-us {
  overflow: hidden;
}
.whatsapp-button{
  display: none;
}
}